
<div class="header-bar">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxFlexFill>
      <div fxFlex="60"></div>
      <div fxFlex="40" >
   <mat-toolbar class="white-background-color">
   <mat-toolbar-row >
    
  <button class="balance-button">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxFlexFill>
        <div fxFlex="80">
    <span class="balance-color">4,00000.00</span><br/>
    <span class="available-balance">Available Balance</span>
  </div>
  <div fxFlex="20">
      <button mat-icon-button class="mat-icon-color">
       <!-- <mat-icon >filter_list</mat-icon>-->
      <span>Ξ</span> 
      </button>
    </div>
  </div>
  </button>
  <div fxFlex="5" class="notifications">
     
    <mat-icon   matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
  </div>
  <div class="profile" fxFlex="15">
    <div fxFlex>
     <span class="profile-name" >John Doe</span>
    </div>
    <div fxFlex>
     <img src="../../assets/ic_drop.svg" class="expand-icon"/></div>
    </div>
   </mat-toolbar-row>
   </mat-toolbar></div>
   </div>
      </div>