<div>
    <h1 mat-dialog-title class="dialouge-title">{{title}}
    <img src="../../assets/Remove.svg" class="icon-property close-icon" (click)="close()"/>
  </h1>
  
    <form  [formGroup]="productFormGroup" (ngSubmit)="createProduct(productFormGroup.value)">
      
       <!-- <mat-form-field class="mat-field-property" >
            <input matInput placeholder="Name of the Admin"  formControlName="userName" class="mat-input-font"/>
          </mat-form-field>-->
          <mat-form-field class="mat-field-property" disabled="true" >
              <input matInput placeholder="Store Name"  formControlName="storeName" disabled  class="mat-input-font" disabled="true"/>
            </mat-form-field>

           
              <mat-form-field class="mat-field-property" >
                  <input matInput placeholder="Product Name"  formControlName="name" class="mat-input-font"/>
                </mat-form-field>

                <mat-form-field class="mat-field-property" >
                    <input matInput placeholder="Product description"  formControlName="description" class="mat-input-font"/>
                  </mat-form-field>

                  <mat-form-field class="mat-field-property" >
                      <input matInput placeholder="Price"  formControlName="price" class="mat-input-font"/>
                    </mat-form-field>
             
                    <mat-form-field class="mat-field-property" >
                        <input matInput placeholder="Inventory"  formControlName="quantity" class="mat-input-font"/>
                      </mat-form-field>


           <div><button mat-raised-button class="mat-field-button"  [disabled]="!productFormGroup.valid">{{buttonText}}</button></div>
    </form>
  
  </div>
