<!-- The content below is only a placeholder and can be replaced. -->

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxFlexFill class="login-overflow">

  <div fxFlex="50" >  
<img src="../../assets/loginimage.svg"/>
  </div>
  <div fxFlex="50">
    <div class="login-div">
    <div><span class="login-title">ONLINE MARKET PLACE</span><br/></div>
    <div class="account-number-div"> <span class="account-number-title">Enter your account number to Login</span>
    <form [formGroup]="loginFormGroup" (ngSubmit)="login(loginFormGroup.value)" >
      <mat-form-field class="account-number-input">
        <input matInput placeholder="Account Number" formControlName="accountNumber">
      </mat-form-field>
     <div>
        <button mat-raised-button class="login-button" >
          <span class="login-button-text">Login</span></button>
     </div>
          
     
    </form>
  </div>
  </div>
  </div>
</div>


