@import '../../variables.sccs';
.sidenavCls{
   background-color: #43425D;
}

.toolBarTitle{
 font-family:$base-font-family;
    color: #FFFFFF;
    font-size: $medium-font-size;
    font-weight: bold;
    margin: 19px;
}

.toolbar-icon-padding{
    padding-left: 15px;
}
.text-color{
    color: #FFFFFF !important;
}

.sideBar{
    height: 100%;
    //display: table-cell;
    // border-right: 1px solid lightgrey;
}

.content-area{
    overflow-y: scroll;
    background-color: #F0F0F7;
    height: calc(100% - 70px);
}

.content-area::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    display: none;
}