<div>
    <h1 mat-dialog-title class="dialouge-title">{{title}}
    <img src="../../assets/Remove.svg" class="icon-property close-icon" (click)="close()"/>
  </h1>
  
    <form  [formGroup]="storeGroup" (ngSubmit)="createStore(storeGroup.value)">
      
    <mat-form-field class="mat-field-property" >
            <input matInput placeholder="Store Name"  formControlName="name" class="mat-input-font"/>
          </mat-form-field>
          <mat-form-field class="mat-field-property" >
              <input matInput placeholder="Store Description"  formControlName="description" class="mat-input-font"/>
            </mat-form-field>
           <div><button mat-raised-button class="mat-field-button"  [disabled]="!storeGroup.valid">{{buttonText}}</button></div>
    </form>
  
  </div>
